* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.top-bar {
    background: linear-gradient(to right, #cfe3ff, #c8f0dc);
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-weight: bold;
    color: #0033a0;
    font-size: 20px;
}

.tagline {
    font-size: 14px;
    color: #333;
}

.navbar {
    padding: 15px 40px;
    margin-left: 600px;
    margin-top:-40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar li {
    cursor: pointer;
    font-size: 15px;
    color: #111;
}
.navbar li button{

    border: none;
    background: white;
}

.navbar li:hover {
    color: #0033a0;
}
.hero {
    height: 70vh;
    background: linear-gradient(to right, #4b6cb7, #2bc0a4);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 20px;
}

.hero-content button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: #0033a0;
    cursor: pointer;
    border-radius: 4px;
}

.hero-badge {
    border: 2px solid white;
    padding: 30px;
    text-align: center;
}


.roi {
    padding: 50px;
    background: #f4f6fb;
}

.roi h2 {
    margin-bottom: 30px;
}

.roi-cards {
    display: flex;
    gap: 20px;
}

.roi-card {
    background: linear-gradient(to right, #5f2c82, #49a09d);
    color: white;
    padding: 20px;
    width: 25%;
    border-radius: 8px;
}


.ai-search {
    padding: 60px;
    text-align: center;
    background: #eef0f6;
}

.ai-search input {
    width: 60%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.highlights {
    padding: 60px;
}

.highlight-grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.highlight-card {
    width: 30%;
}

.highlight-card img {
    width: 100%;
    border-radius: 8px;
}

.highlight-card p {
    margin-top: 10px;
    font-weight: bold;
}